Flask==3.0.0
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
SQLAlchemy==2.0.23
Flask-SQLAlchemy==3.1.1
Werkzeug==3.0.1
opencv-contrib-python==4.10.0.84
numpy==1.26.4
pandas==2.2.0
openpyxl==3.1.2

#  .\venv\Scripts\python.exe run.py